@font-face {
  font-family: "Flexo-Medium";
  src: url("./assets/fonts/Flexo-Medium.ttf");
}

body {
  font-family: "Flexo-Medium", arial, sans-serif;
  background-color: rgb(250, 242, 231);
}
.b-gallery {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.b-logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.b-logo img {
  border: none;
  border-radius: none;
  background-color: rgb(250, 242, 231);
  width: 500px;
  height: 184px;
  transition: transform 0.3s; /* Animation */
}
.b-logo img:hover {
  transform: scale(1.5);
  margin-bottom: 50px;
  opacity: none;
  filter: none;
  filter: none;
}

.b-search {
  display: flex;
  justify-items: center;
  align-items: center;
}

.b-search input {
  height: 34px;
  width: 300px;
}

img {
  padding: 20px;
  background-color: bisque;
  width: 300px;
  height: 400px;
  border: 5px solid;
  border-radius: 20px;
  background-color: rgb(22, 200, 82);
  cursor: pointer;
}

img:hover {
  opacity: 0.9;
  filter: contrast(100%);
  filter: grayscale(100%);
}

figcaption {
  text-align: center;
  font-size: xx-large;
}
h2:first-letter {
  text-transform: uppercase;
}

h2 {
  text-align: center;
}

figure {
  border: 5px solid;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}

p {
  border-radius: 20px;
  color: #030202;
  background-color: aqua;
  padding: 5px 20px;
  border-radius: 20px;
}
div {
  display: flex;
  justify-content: space-around;
}

.b-color__grass {
  background-color: #9bcc50;
}
.b-color__water {
  background-color: #4592c4;
}
.b-color__fire {
  background-color: #fd7d24;
}
.b-color__bug {
  background-color: #729f3f;
}
.b-color__electric {
  background-color: #eed535;
}
.b-color__normal {
  background-color: #a4acaf;
}
.b-color__poison {
  background-color: #b97fc9;
}
.b-color__ghost {
  background-color: #7b62a3;
}
.b-color__psychic {
  background-color: #f471bd;
}
.b-color__rock {
  background-color: #a38c21;
}
.b-color__ground {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
}
.b-color__fighting {
  background-color: #d56723;
}
.b-color__fairy {
  background-color: #fdb9e9;
}
.b-color__dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
}
.b-color__ice {
  background-color: #51c4e7;
}
